<div class="content">
  <h2 class="heading">Bio</h2>
  <div class="layout-grid grid">
    <div class="paragraph-light">
      Designing by decrease development time is my true passion. Working for products that change peoples lives with technology is my calling. Motivate and work side-by-side with my team to do the above, provides me with enormous gratification.
    </div>
    <div class="paragraph-light">
      In my previous companies I had the privilege to indulge in all of the above and they made the person who I am today. I've worked for the Healthcare industry, Food tech and Telecom in <span class="tooltip tooltip-text">Europe</span>, <span class="tooltip tooltip-text">US</span>, <span class="tooltip tooltip-text">South America</span> and <span class="tooltip tooltip-text">Asia</span>.
    </div>
  </div>
  <a href="#" class="button primary">See full bio</a>
  <a href="#" class="button secondary">Download resume</a>
  <a href="#" class="button secondary">Download CV</a>
</div>
