<div class="hero">
  <div class="hero-container">
    <div class="row">
      <div class="column-80 spacing-right">
        <h2>
          I’m a digital product designer named <span class="tooltip" data-tippy-content="Short form for Guilherme">Gui</span>
        </h2>
        <p>
          I design and build graphic user interfaces, using modern technologies. A citizen of the world.
        </p>
      </div>
      <div class="container-hire column-80 spacing-left">
        <div class='button-wrap'>
          <div class='notification'>
            <div class='text-wrap'>
              <div class='text'>
                <p>I'm available for hiring!</p>
              </div>
            </div>
          </div>
          <div class='icon-wrap'>
            <div class='icon-message-wrap'>
              <div class='icon-message'>
                <div class='dots'>
                  <div class='dot dot-1'></div>
                  <div class='dot dot-2'></div>
                  <div class='dot dot-3'></div>
                </div>
              </div>
              <div class='tail-icon'>
                <div class='arrow-left'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
