<div class="content">
  <h3>Experience</h3>
  <p class="paragraph-light">
    More recently, spent time as product manager and learned to grow a design systems product, to be used in 10 healthcare apps, at the same time! Besides that, I mentor young entrepreneurs. Since 2010 that I work for the web. I <span class="line-through">don't</span> have a <span class="tooltip" data-tippy-content="By option">college degree</span>.
  </p>

  <div class="row">
    <div class="column-25 spacing-right ">
      <a href="https://www.nos.pt/institucional/EN/nos/about-us/Pages/about-us.aspx" target="_blank" class="">
        <p class="link-title">NOS<i class="fas fa-external-link-alt"></i></p>
      </a>
      <p class="paragraph-light">Graphic Designer</p>
      <p class="paragraph-tiny">April 2014 — Mar 2015</p>
    </div>
    <div class="column-25 spacing-right ">
      <a href="#" target="_blank" class="">
        <p class="link-title">Zomato<i class="fas fa-external-link-alt"></i></p>
      </a>
      <p class="paragraph-light">Graphic Designer</p>
      <p class="paragraph-tiny">April 2014 — Mar 2015</p>
    </div>
    <div class="column-25 spacing-right ">
      <a href="https://www.nos.pt/institucional/EN/nos/about-us/Pages/about-us.aspx" target="_blank" class="">
        <p class="link-title">NOS<i class="fas fa-external-link-alt"></i></p>
      </a>
      <p class="paragraph-light">Graphic Designer</p>
      <p class="paragraph-tiny">April 2014 — Mar 2015</p>
    </div>
    <div class="column-25">
      <a href="#" target="_blank" class="">
        <p class="link-title">Zomato<i class="fas fa-external-link-alt"></i></p>
      </a>
      <p class="paragraph-light">Graphic Designer</p>
      <p class="paragraph-tiny">April 2014 — Mar 2015</p>
    </div>
  </div>

  <a href="#" class="button primary">See full experience since 2010</a>
  <a href="#" class="button secondary">Linkedin<i class="fas fa-external-link-alt"></i></a>
</div>