<div class="content">
  <h3>Skills</h3>
  <p class="paragraph-light">
    I've worked across all stages of the product lifecycle: Brainstorm, Design, Implementation, Testing and Growth. These are my product design skills.
  </p>
  
  <ul role="list">
    <li>Ability to <span class="tooltip tooltip-text">conceptualize a design</span> solution and creatively communicate ideas with <span class="tooltip tooltip-text">sketches</span>, <span class="tooltip tooltip-text">wireframes</span> and <span class="tooltip tooltip-text">process flows</span></li>
    <li>Strong understanding of user-centered <span class="tooltip tooltip-text">design principles</span> and knowledge of current design and interaction <span class="tooltip tooltip-text">trends</span></li>
    <li>Creativity and web design skills (color, typography, page layout and information hierarchy)</li>
    <li>Ability to perform <span class="tooltip tooltip-text">usability testing</span>, distill key issues from usability tests, communicate results and recommend practical solutions</li>
    <li>A <span class="tooltip tooltip-text">"pixel perfect"</span> eye for detail and an artistic vein</li>
  </ul>

  <p class="paragraph-light">
    I'm also able to perform the following design tasks:
  </p>

  <div class="container">
    <span class="tag design">Animation</span>
    <span class="tag coding">Designing with data</span>
    <span class="tag soft">Mentorship</span>
    <span class="tag research">User research</span>
  </div>

  <a href="#" class="button primary">Understand more about my skills</a>

</div>