<div class="content">
  <h3>Bio</h3>
  <div class="row">
    <div class="column-50 spacing-right">
      <p class="paragraph-light">
        Designing for decreasing development time and working for products that change peoples lives with technology, is my true passion. Motivate and work side-by-side with my team to do the above, provides me with enormous gratification.
      </p>
    </div>
    <div class="column-50 spacing-left">
      <p class="paragraph-light">
        In my previous companies I had the privilege to indulge in all of the above and they made the person who I am today. I've worked for the Healthcare industry, Food tech and Telecom in <span class="tooltip" data-tippy-content="Lisbon (telecom) and London (conference)">Europe</span>, <span class="tooltip" data-tippy-content="Seattle (healthcare)">US</span>, <span class="tooltip" data-tippy-content="Brazil and Mexico (advertising)">South America</span> and <span class="tooltip" data-tippy-content="New Delhi (healthcare and food tech)">Southeast Asia</span>.
      </p>
    </div>
  </div>
  <a href="#" class="button primary">Continue reading...</a>
  <a href="#" class="button secondary">Download resume<i class="fas fa-file-pdf"></i></a>
  <a href="#" class="button secondary">Download CV<i class="fas fa-file-pdf"></i></a>
</div>