<section>
	{% for experience in experiencelist | reverse %}
		<article{% if experience.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ experience.url | url }}">
					{% if experience.data.title %}
						{{ experience.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if experience.data.summary %}
				<p>
					{{ experience.data.summary }}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
