---
layout: layouts/base.njk
section: home
---

{% include "components/hero.njk" %}

{% include "components/intro-bio.njk" %}

{% include "components/intro-experience.njk" %}

{% include "components/intro-works.njk" %}

{% include "components/intro-skills.njk" %}

{{ layoutContent | safe }}

{% include "components/form.njk" %}